@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #fff7f7;
  color: rgb(23, 15, 15);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100vw;
}

.light{
  background: #fff7f7;
  color: rgb(23, 15, 15);
}

.dark{
  background-color: rgb(12, 12, 12);
  color: white;
}

.logoName{
  font-weight: 700;
  font-size : 25px;
  padding-left: 16px;
  padding-top: 8px;
  color: #2c0424d4;
}

.light .logoName {
  font-weight: 700;
  font-size : 25px;
  padding-left: 16px;
  padding-top: 8px;
  color: #2c0424d4;
}

.dark .logoName{
  font-weight: 700;
  font-size : 25px;
  padding-left: 16px;
  padding-top: 8px;
  color: rgb(231, 231, 237);
}

.readMoreBtn{
  background-color: rgb(203, 211, 217);
  border-radius: 8%;
  padding: 6px; 
  color: black;
}

